In [53]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Binarizer

In [54]:
df =pd.read_csv('train.csv', usecols=['Age', 'Fare', 'Survived'])

In [55]:
df.dropna(inplace=True)

In [56]:
df.shape

(714, 3)

In [57]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [58]:
df.head(5)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [59]:
X =df.iloc[:,1:]
y=df.iloc[:,0]

In [60]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.2, random_state=42)

In [61]:
X_train.head(2)

      Age     Fare
328  31.0  20.5250
73   26.0  14.4542

In [62]:
X_test.head(2)

      Age   Fare
149  42.0  13.00
407   3.0  18.75

In [63]:
clf =DecisionTreeClassifier()

In [64]:
clf.fit(X_train, y_train)
y_pred =clf.predict(X_test)

In [65]:
accuracy_score(y_test, y_pred)

0.6363636363636364

In [66]:
np.mean(cross_val_score(DecisionTreeClassifier(), X,y, cv=10, scoring='accuracy'))

0.6316901408450704

In [ ]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')